@import "__variables"; 

//*MIXINS*/
@mixin default-box {
  display: block;
  margin: 0;
  padding:0;
  font-size: $basic-font-size;
  box-sizing: border-box;
}

//*FUNCTIONS*/

// Calculate REM based on root font
@function px2rem($target) {
    @return ($target / $root-font) * 1rem;
}

@function step2percent($step){
  @return ($step * $gradation-step);
}

@function darkenBy($base, $step) {
  @return darken($base, step2percent($step));
}

//ANIMATIONS
@keyframes carousel {
  0% {
    opacity: 0; }
  2.5% {
    opacity: 1; }
  17.5% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }
