@import "__variables";
@import "__functions";
@import "__placeholders";

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

//*LAYOUT*/
html,
body {
  @include default-box;
  font: $basic-font-size "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.site-wrapper {
  @include default-box;
  width: 100%;
  min-width: $break-xsmall;
  position:relative;
}

.main-frame {
  position: relative;
}

.side-frame {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;

  &.dock-top {
    bottom: auto;
    transform: translate(0, -100%);
  }
  &.dock-right {
     left: auto;
     transform: translate(100%,0);
  }
  &.dock-bottom {
    top: auto;
    transform: translate(0, 100%);
  }
  &.dock-left {
    right: auto;
    transform: translate(-100%, 0);
  }

  &.shifted {
    transform: translate(0, 0);
  }
}

ul {
  @include default-box;

  &.unstyled {
    list-style: none;
  }
}

a {
  color: $secondary-color;
}

section {
  @include default-box;
  position: relative;
  width: 100%;
  height: 100vh;

  &.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &:nth-of-type(1) {
      background: darkenBy($inverted-secondary, 2);
      background: url(../img/mtl-dtwn.jpg) no-repeat center center;
      background-size: cover;
    }
    &:nth-of-type(2) {
      background: darkenBy($inverted-secondary, 3);
      background: url(../img/mtl-cafe.jpg) no-repeat center center;
      background-size: cover;
    }
    &:nth-of-type(3) {
      background: darkenBy($inverted-secondary, 1);
    }

    .content-box {
      @include default-box;
      margin: 10px;
      max-width: 100%;
      max-height: 100%;

      &.content-bio {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $break-medium) {
          flex-direction: column;
        }

      }
    }
  }
}

//*CONTENT*/
.figure-wrapper {
  @include default-box;
  max-width: 230px;
  max-height: 230px;
  border: 4px solid $inverted-primary;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  transform: translate(0, -20%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);

  @media screen and (max-width: $break-medium) {
    margin: 10px auto;
  }

  img {
    display:inline-block;
     width: 100%;
     height: auto;
  }
}

//*CAROUSEL*/
.carousel-wrapper {

}

.carousel {
  @include default-box;
  padding: 10px;
  width: 300px;
  height: 180px;
  position: relative;
  background: $bg-fog;

  ul.slide-container {
    width: 100%;
    height: 100%;

    > li {
      @include default-box;
      display:none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 20px;

      span {
        display: block;
        opacity: 0;
        animation: carousel 50s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
      }
      &:nth-of-type(2) span {
        animation-delay: 10.5s;
      }
      &:nth-of-type(3) span {
        animation-delay: 20.5s;
      }
      &:nth-of-type(4) span {
        animation-delay: 30.5s;
      }
      &:nth-of-type(5) span {
        animation-delay: 40.5s;
      }


      &.is-active{
        display: block;
      }

      .nav-tab {
        position: absolute;
        top:0;
        left:0;
        cursor: pointer;
        transform: translate(0, -100%);
      }
      &:nth-child(2) .nav-tab{
        transform: translate(100%, -100%);

      }
      &:nth-child(3) .nav-tab{
        transform: translate(200%, -100%);

      }
      &:nth-child(4) .nav-tab{
        transform: translate(300%, -100%);

      }
      &:nth-child(5) .nav-tab{
        transform: translate(400%, -100%);

      }
    }
  }

  h2 {
    font-size: 16px;
  }

}


//*FOOTER*/
footer {
  @include default-box;
  position: fixed;
  bottom: 0;
  left: 50%;
  min-width: $break-xsmall;
  font-size: 12px;
  color: $inverted-primary;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  text-align: center;
  transform: translate(-50%, 0);
  vertical-align: middle;

  a {
    display: inline-block;
    width: auto;
    height: auto;
  }
}
