@import "__variables";
@import "__functions"; 

//*CONTACT FORM*/
form {
  @include default-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: $bg-fog;
  min-width: $break-xsmall;

  .input-group {
    @include default-box;
    width: 100%;
    margin: 0 auto 10px;

    &:last-of-type {
      margin: 0 auto;
    }
  }

  label {
    display: none;
  }

  input[type=text],
  input[type=email],
  textarea,
  button[type=submit] {
    @include default-box;
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    resize: none;
  }

}